@using Diplom.Domain.ViewModels

@model StaffViewModel

<div class="card mb-3 mx-auto divGet">
    <div class="card-body">
        @if (Model.Photo != null)
        {
            <img class="card-img" src="~/images/StaffPhoto/@Model.Photo" alt="Фото сотрудника">
        }
        <h5 class="card-title text-center">@Model.FullName</h5>
        <p class="card-text"><b>Стаж: </b>@Model.ExperianceWithWord</p>
        <p class="card-text"><b>Должность: </b>@Model.Post</p>
        <p class="card-text"><b>Зарплата: </b>@Model.Salary.ToString("0.##") руб.</p>
        <p class="card-text"><b>Дата приёма на работу: </b>@Model.Date_of_employment</p>
        <p class="card-text"><b>Роль: </b>@Model.Role.Role1</p>
        <p class="card-text"><b>Логин: </b>@Model.Login</p>
        <p class="card-text"><b>Пароль: </b>@Model.Password</p>
    </div>
</div>

<div class="divCenter">
    <form>
        <button type="button" onclick="openModal({ url: '/Staff/AddOrEditStaff', data: '@Model.Id', title: 'Редактирование сотрудника' })" data-toggle="ajax-modal" data-target="Modal">Редактировать</button>
        <button type="button" style="margin-left: 6em" onclick="openConfirm({ url: '/Staff/DeleteStaff', data: '@Model.Id' })" data-toggle="ajax-modal" data-target="Modal">Удалить</button>
    </form>
</div>