@using RepairServiceWeb.Domain.Entity

@{
    ViewData["Title"] = "Заказы запчастей";
}

@model IEnumerable<OrderAccessory>

<h2>Список заказов запчастей</h2>

<div class="divControl">
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Фильтры
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <form id="filterOrderAccessories" asp-action="GetFilteredOrderAccessories" method="get">
            <li>
                <div>
                    <select name="clientFullName" class="filterEl">
                        <option value="">-Выберите клиента-</option>
                            @foreach (var item in Model.Select(m => m.Client.FullName).Distinct())
                            {
                                <option value="@item">@item</option>
                            }
                    </select>
                </div>
            </li>
            <li>
                <div>
                    <select name="accessoryName" class="filterEl">
                        <option value="">-Выберите запчасть-</option>
                            @foreach (var item in Model.Select(m => m.Accessories.Name).Distinct())
                            {
                                <option value="@item">@item</option>
                            }
                    </select>
                </div>
            </li>
            <li>
                <div>
                    <input name="count" class="filterEl" type="number" placeholder="Введите количество (цифру)" />
                </div>
            </li>
            <li>
                <div>
                    <input name="date" class="filterEl" type="date" placeholder="Введите дату" />
                </div>
            </li>
            <li>
                <div>
                    <select name="status" class="filterEl">
                        <option value="">-Выберите статус-</option>
                            @foreach (var item in Model.Select(m => m.StatusOrder).Distinct())
                            {
                            <option value="@item">@item</option>
                            }
                    </select>
                </div>
            </li>
            <li>
                <button class="filterEl" type="submit">Отфильтровать</button>
            </li>
            </form>
        </ul>
    </div>

    <div>
        <form class="search" asp-action="GetOrderAccessoriesByName" method="get">
            <input style="width: 15em" class="searchEl" name="name" placeholder="Введите название запчасти" required type="text" />
            <button class="searchEl" onclick="searchHighlight('/OrderAccessories/GetOrderAccessoriesByName')">Поиск</button>
            <div class="divSearch">
                <button id="downButton">&#8595</button>
                <button id="upButton">&#8593</button>
                <label id="counter"></label>
            </div>
        </form>
    </div>
</div>

@if (Model == null || !Model.Any())
{
    <p>Тут пока ничего нет (</p>
}

<div id="divOutput">
    @foreach (var item in Model)
    {
        <div class="divRows counter">
            <div style="width: 30em">
                <h3>@item.Accessories.Name</h3>
                <p><b>Клиент:</b> @item.Client.FullName</p>
            </div>
            <div style="margin-top: 2em; width: 12em">
                <label><b>Количество:</b></label>
                <label>@item.Count</label> <br />
                <label><b>Цена:</b></label>
                <label>@item.Cost.ToString("0.##") руб.</label> <br />
                <label><b>Дата заказа:</b></label>
                <label>@item.DateOrder</label> <br />
                <label><b>Статус:</b></label>
                <label>@item.StatusOrder</label>
            </div>
            <div>
                <form>
                    <button class="buttonInf" type="button" onclick="openModal({ url: '/OrderAccessories/GetOrderAccessories', data: '@item.Id', title: 'Информация о заказе' })" data-toggle="ajax-modal" data-target="#Modal">Посмотреть</button>
                </form>
            </div>
        </div>
        <hr />
    }
</div>

<div class="form-container">
    <form>
        <button class="buttonAdd" type="button" onclick="openModal({ url: '/OrderAccessories/AddOrEditOrderAccessories', title: 'Добавление заказа' })" data-toggle="ajax-modal" data-target="Modal">Добавить</button>
    </form>
</div>