@using Diplom.Domain.Entity

@{
    ViewData["Title"] = "Поставщики";
}

@model IEnumerable<Supplier>

<h2>Список поставщиков</h2>

<div class="divControl">
    <form id="filterSuppliers" asp-action="GetFilteredSuppliers" method="get">
        <input name="address" class="filterEl" type="text" placeholder="Введите адрес" />
        <button style="width: 8em" class="filterEl" type="submit">Отфильтровать</button>
    </form>

    <div>
        <form class="search" asp-action="GetSuppliersByName" method="get">
            <input class="searchEl" name="name" placeholder="Введите название" required type="text" />
            <button class="searchEl" onclick="searchHighlight('/Suppliers/GetSuppliersByName')">Поиск</button>
        </form>
    </div>
</div>

<div id="divOutput">
    @foreach (var item in Model)
    {
        <div class="divRows">
            <div style="width: 22em">
                <h3>@item.CompanyName</h3>
                <label>Контактное лицо:</label>
                <label>@item.ContactPerson</label> <br />
                <label>Номер телефона:</label>
                <label>@item.PhoneNumber</label>
            </div>
            <div style="margin-top: 2em; width: 22em">
                <label>Адрес:</label>
                <label>@item.Address</label> <br />
                <label>Email:</label>
                <label>@item.Email</label>
            </div>
            <div>
                <form>
                    <button class="buttonInf" type="button" onclick="openModal({ url: '/Suppliers/GetSuppliers', data: '@item.Id', title: 'Информация о поставщике' })" data-toggle="ajax-modal" data-target="#Modal">Посмотреть</button>
                </form>
            </div>
        </div>
        <hr />
    }
</div>

<div class="form-container">
    <form>
        <button class="buttonAdd" type="button" onclick="openModal({ url: '/Suppliers/AddOrEditSuppliers', title: 'Добавление поставщика' })" data-toggle="ajax-modal" data-target="Modal">Добавить</button>
    </form>
</div>