@using Diplom.Domain.ViewModels

@model SuppliersViewModel

<div class="card mb-3 mx-auto divGet">
    <div class="card-body">
        <h5 class="card-title text-center">@Model.Company_name</h5>
        <p class="card-text"><b>Контантное лицо: </b>@Model.Contact_person</p>
        <p class="card-text"><b>Номер телефона: </b>@Model.Phone_number</p>
        <p class="card-text"><b>Адресс: </b>@Model.Address</p>
        <p class="card-text"><b>Email: </b>@Model.Email</p>
    </div>
</div>

<div class="divCenter">
    <form>
        <button type="button" onclick="openModal({ url: '/Suppliers/AddOrEditSuppliers', data: '@Model.Id', title: 'Редактирование поставщика' })" data-toggle="ajax-modal" data-target="Modal">Редактировать</button>
        <button type="button" style="margin-left: 6em" onclick="openConfirm({ url: '/Suppliers/DeleteSuppliers', data: '@Model.Id' })" data-toggle="ajax-modal" data-target="Modal">Удалить</button>
    </form>
</div>