@using RepairServiceWeb.Domain.Interfaces
@using RepairServiceWeb.Domain.Entity

@{
    ViewData["Title"] = "Личный кабинет";
}

@model IUser

@if (Model is Client client)
{
    <div style="margin-top: 2em">
        <h3 style="font-size: 2em">@client.FullName</h3>
        <div class="divRows">
            <div style="width: 18em; font-size: 2em">
                <label><b>Адрес:</b></label>
                <label>@client.Address</label> <br />
                <label><b>Номер телефона:</b></label>
                <label>@client.PhoneNumber</label> <br />
                <label><b>Email:</b></label>
                <label>@client.Email</label> <br />
            </div>
            <div style="width: 12em; font-size: 1.5em">
                <label><b>Логин:</b></label>
                <label>@client.Login</label> <br />
                <label><b>Пароль:</b></label>
                <label>@client.Password</label> <br />
            </div>
            <div>
                <form>
                    <button type="button" onclick="openModal({ url: '/Clients/AddOrEditClients', data: '@client.Id', title: 'Редактирование лк' })" data-toggle="ajax-modal" data-target="Modal">Редактировать</button>
                    <button class="red" id="exitButton">Выход</button>
                </form>
            </div>
        </div> <br /> <br />
        <div>
            <form>
                <button class="myRepairsButton">Мои ремонты</button>
                <button id="myDevicesButton">Мои устройства</button>
                <button id="myOrderAccessories">Мои заказы запчастей</button>
            </form>
        </div>
        <div style="margin-top: 2em" id="divOutput"></div>
    </div>
}
else if (Model is Staff staff)
{
    <div style="margin-top: 2em" class="divRows">
        <div style="width: auto">
            @if (staff.Photo != null)
            {
                <img src="~/images/StaffPhoto/@staff.Photo">
            }
        </div>
        <div style="width: 18em; font-size: 2em">
            <h3>@staff.FullName</h3>
            <p>@staff.Post</p>
            <label><b>Стаж:</b></label>
            <label>@staff.ExperianceWithWord</label> <br />
            <label><b>Зар. плата:</b></label>
            <label>@staff.Salary.ToString("0.##") руб.</label> <br />
            <label><b>Дата принятия на работу:</b></label>
            <label>@staff.DateOfEmployment</label> <br />
            <label><b>Роль:</b></label>
            <label>@staff.Role.Role1</label> <br /> <br />
        </div>
        <div class="confInf" style="font-size: 1.5em">
            <label><b>Логин:</b></label>
            <label>@staff.Login</label> <br />
            <label><b>Пароль:</b></label>
            <label>@staff.Password</label>
        </div>
        <div>
            <form>
                <button class="red" id="exitButton">Выход</button>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div id="workersEl">
        <form>
            <button class="myRepairsButton">Заказы</button>
        </form>
    </div>
    <div style="margin-top: 2em" id="divOutput"></div>
}