@using RepairServiceWeb.Domain.ViewModels

@model StaffViewModel

<div class="divCenter">
    <form asp-action="AddOrEditStaff" enctype="multipart/form-data">

        @if (@Model != null)
        {
            <input hidden asp-for="@Model.Id" />
        }

        <div class="divLeft">

            <label asp-for="@Model.Photo"></label>
            <input name="file" asp-for="@Model.Photo" type="file" accept="image/*">
            <span>@Html.ValidationMessage("Error")</span> <br />

            <label asp-for="@Model.Name"></label>
            <input placeholder="Введите имя" onchange="removeExtraSpaces(this)" required type="text" asp-for="@Model.Name" /> <br />

            <label asp-for="@Model.Surname"></label>
            <input placeholder="Введите фамилию" onchange="removeExtraSpaces(this)" required type="text" asp-for="@Model.Surname" /> <br />

            <label asp-for="@Model.Patronymic"></label>
            <input placeholder="Введите отчество" onchange="removeExtraSpaces(this)" type="text" asp-for="@Model.Patronymic" /> <br />

            <label asp-for="@Model.Experiance"></label>
            <input placeholder="Введите стаж" onchange="removeExtraSpaces(this)" type="number" asp-for="@Model.Experiance" />
            <span asp-validation-for="@Model.Experiance"></span> <br />

            <label asp-for="@Model.Post"></label>
            <input placeholder="Введите должность" onchange="removeExtraSpaces(this)" required type="text" asp-for="@Model.Post" />
            <span asp-validation-for="@Model.Post"></span> <br />

            <label asp-for="@Model.Salary"></label>
            <input placeholder="Введите зар. плату" onchange="removeExtraSpaces(this)" required type="number" asp-format="{0:0.##}" asp-for="@Model.Salary" />
            <span asp-validation-for="@Model.Salary"></span> <br />

            <label asp-for="@Model.Date_of_employment"></label>
            <input placeholder="Выберите дату" onchange="removeExtraSpaces(this)" required type="date" asp-for="@Model.Date_of_employment" />
            <span asp-validation-for="@Model.Date_of_employment"></span> <br />

            <label asp-for="@Model.RoleId"></label>
            <select required asp-items="ViewBag.RolesList" asp-for="@Model.RoleId">
                <option value="">-Выберите роль-</option>
            </select> <br />

            <label asp-for="@Model.Login"></label>
            <input placeholder="Введите логин" onchange="removeExtraSpaces(this)" required type="text" asp-for="@Model.Login" /> <br />
            <span>@Html.ValidationMessage("Login")</span> <br />

            <label asp-for="@Model.Password"></label>
            <input placeholder="Введите пароль" onchange="removeExtraSpaces(this)" required type="text" asp-for="@Model.Password" /> <br />
            <span asp-validation-for="@Model.Password"></span> <br />

            <label asp-for="@Model.RepeatPassword"></label>
            <input placeholder="Повторите пароль" onchange="removeExtraSpaces(this)" required type="text" asp-for="@Model.RepeatPassword" />
            <span asp-validation-for="@Model.RepeatPassword"></span> <br />

        </div> <br />

        <button class="green">Сохранить</button>
    </form>
</div>

@* <div asp-validation-summary="All" class="text-danger"></div> *@ @* Просмотр ошибок *@