@using RepairServiceWeb.Domain.Entity

@{
    ViewData["Title"] = "Сотрудники";
}

@model IEnumerable<Staff>

<h2>Список сотрудников</h2>

<div class="divControl">
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Фильтры
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <form id="filterStaff" asp-action="GetFilteredStaff" method="get">
            <li>
                <div>
                    <input name="fullName" class="filterEl" type="text" placeholder="Введите ФИО" />
                </div>
            </li>
            <li>
                <div>
                    <input name="experiance" class="filterEl" type="number" placeholder="Введите стаж (только число)" />
                </div>
            </li>
            <li>
                <div>
                    <select name="post" class="filterEl">
                        <option value="">-Выберите должность-</option>
                            @foreach (var item in Model.Select(m => m.Post).Distinct())
                            {
                            <option value="@item">@item</option>
                            }
                    </select>
                </div>
            </li>
            <li>
                <div>
                    <select name="role" class="filterEl">
                        <option value="">-Выберите роль-</option>
                            @foreach (var item in Model.Select(m => m.Role.Role1).Distinct())
                            {
                            <option value="@item">@item</option>
                            }
                    </select>
                </div>
            </li>
            <li>
                <button class="filterEl" type="submit">Отфильтровать</button>
            </li>
            </form>
        </ul>
    </div>

    <div>
        <form class="search" asp-action="GetStaffByName" method="get">
            <input class="searchEl" name="name" placeholder="Введите ФИО" required type="text" />
            <button class="searchEl" onclick="searchHighlight('/Staff/GetStaffByName')">Поиск</button>
        </form>
    </div>
</div>

<div id="divOutput">
    @foreach (var item in Model)
    {
        <div class="divRows">
            <div style="width: 27em">
                @if (item.Photo != null)
                {
                    <img src="~/images/StaffPhoto/@item.Photo">
                }
            </div>
            <div style="width: 19em">
                <h3>@item.FullName</h3>
                <p>@item.Post</p>
                <label>Стаж:</label>
                <label>@item.ExperianceWithWord</label> <br />
                <label>Зар. плата:</label>
                <label>@item.Salary.ToString("0.##") руб.</label> <br />
                <label>Дата принятия на работу:</label>
                <label>@item.DateOfEmployment</label> <br />
                <label>Роль:</label>
                <label>@item.Role.Role1</label> <br /> <br />
                <div class="confInf">
                    <label>Логин:</label>
                    <label>@item.Login</label> <br />
                    <label>Пароль:</label>
                    <label>@item.Password</label>
                </div>
            </div>
            <div>
                <form>
                    <button class="buttonInf" type="button" onclick="openModal({ url: '/Staff/GetStaff', data: '@item.Id', title: 'Информация о сотруднике' })" data-toggle="ajax-modal" data-target="#Modal">Посмотреть</button>
                </form>
            </div>
        </div>
        <hr />
    }
</div>

<div class="form-container">
    <form>
        <button class="buttonAdd" type="button" onclick="openModal({ url: '/Staff/AddOrEditStaff', title: 'Добавление сотрудника' })" data-toggle="ajax-modal" data-target="Modal">Добавить</button>
    </form>
</div>