@using RepairServiceWeb.Domain.Entity

@{
    ViewData["Title"] = "Клиенты";
}

@model IEnumerable<Client>

<h2>Список клиентов</h2>

<div class="divControl">
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Фильтры
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <form id="filterClients" asp-action="GetFilteredClients" method="get">
            <li>
                <div>
                    <input name="fullName" class="filterEl" type="text" placeholder="Введите ФИО" />
                </div>
            </li>
            <li>
                <div>
                    <input name="address" class="filterEl" type="text" placeholder="Введите адрес" />
                </div>
            </li>
            <li>
                <button class="filterEl" type="submit">Отфильтровать</button>
            </li>
            </form>
        </ul>
    </div>

    <div>
        <form class="search" asp-action="GetClientsByName" method="get">
            <input class="searchEl" name="name" placeholder="Введите ФИО" required type="text" />
            <button class="searchEl" onclick="searchHighlight('/Clients/GetClientsByName')">Поиск</button>
            <div class="divSearch">
                <button id="downButton">&#8595</button>
                <button id="upButton">&#8593</button>
                <label id="counter"></label>
            </div>
        </form>
    </div>
</div>

@if (Model == null || !Model.Any())
{
    <p>Тут пока ничего нет (</p>
}

<div id="divOutput">
    @foreach (var item in Model)
    {
        <div class="divRows counter">
            <div style="width: 30em">
                <h3>@item.FullName</h3>
            </div>
            <div style="margin-top: 2em; width: 18em">
                <label><b>Адрес:</b></label>
                <label>@item.Address</label> <br />
                <label><b>Номер телефона:</b></label>
                <label>@item.PhoneNumber</label> <br />
                <label><b>Email:</b></label>
                <label>@item.Email</label> <br />
            </div>
            <div style="margin-top: 2em; width: 12em">
                <div class="confInf">
                    <label><b>Логин:</b></label>
                    <label>@item.Login</label> <br />
                    <label><b>Пароль:</b></label>
                    <label>@item.Password</label> <br />
                </div>
            </div>
            <div>
                <form>
                    <button class="buttonInf" type="button" onclick="openModal({ url: '/Clients/GetClients', data: '@item.Id', title: 'Информация о клиенте' })" data-toggle="ajax-modal" data-target="#Modal">Посмотреть</button>
                </form>
            </div>
        </div>
        <hr />
    }
</div>

<div class="form-container">
    <form>
        <button class="buttonAdd" style="display: block" type="button" onclick="openModal({ url: '/Clients/AddOrEditClients', title: 'Добавление клиента' })" data-toggle="ajax-modal" data-target="Modal">Добавить</button>
    </form>
</div>