@using RepairServiceWeb.Domain.ViewModels

@model AccessoriesViewModel

<div class="card mb-3 mx-auto divGet">
    <div class="card-body">
        <h5 class="card-title text-center">@Model.Name</h5>
        <p class="card-text"><b>Описание: </b>@Model.Description</p>
        <p class="card-text"><b>Производитель: </b>@Model.Manufacturer</p>
        <p class="card-text"><b>Стоимость: </b>@Model.Cost.ToString("0.##") руб.</p>
        <p class="card-text"><b>Поставщик: </b>@Model.Supplier.CompanyName</p>
    </div>
</div>

<div class="divCenter">
    <form>
        <button type="button" onclick="openModal({ url: '/Accessories/AddOrEditAccessories', data: '@Model.Id', title: 'Редактирование запчасти' })" data-toggle="ajax-modal" data-target="Modal">Редактировать</button>
        <button type="button" style="margin-left: 6em" onclick="openConfirm({ url: '/Accessories/DeleteAccessories', data: '@Model.Id' })" data-toggle="ajax-modal" data-target="Modal">Удалить</button>
    </form>
</div>