@using Diplom.Domain.ViewModels

@model OrderAccessoriesViewModel

<div class="divCenter">
    <form asp-action="AddOrEditOrderAccessories">

        @if (@Model != null)
        {
            <input hidden asp-for="@Model.Id" />
        }

        <div class="divLeft">
            <label asp-for="@Model.ClientId"></label>
            <select required asp-items="ViewBag.ClientsList" asp-for="@Model.ClientId">
                <option value="">-Выберите клиента-</option>
            </select> <br />

            <label asp-for="@Model.AccessoriesId"></label>
            <select required asp-items="ViewBag.AcessoriesList" asp-for="@Model.AccessoriesId">
                <option value="">-Выберите запчасть-</option>
            </select> <br />

            <label asp-for="@Model.Count"></label>
            <input placeholder="Введите количество" onchange="removeExtraSpaces(this)" required type="text" asp-for="@Model.Count" />
            <span asp-validation-for="@Model.Count"></span> <br />

            <label asp-for="@Model.Cost"></label>
            <input placeholder="Введите цену" required step="0.01" type="number" asp-for="@Model.Cost" asp-format="{0:0.##}" />
            <span asp-validation-for="@Model.Cost"></span> <br />

            <label asp-for="@Model.Date_order"></label>
            <input placeholder="Выберите дату" required type="date" asp-for="@Model.Date_order" />
            <span asp-validation-for="@Model.Date_order"></span> <br />

            <label asp-for="@Model.Status_order"></label>
            <select required asp-items="ViewBag.StatusList" asp-for="@Model.Status_order">
                <option value="">-Выберите статус-</option>
            </select> <br />
        </div> <br />

        <button class="green">Сохранить</button>
    </form>
</div>

@* <div asp-validation-summary="All" class="text-danger"></div> *@ @* Просмотр ошибок *@