@using Diplom.Domain.ViewModels

@model RepairsViewModel

<div class="divCenter">
    <form asp-action="AddOrEditRepairs">

        @if (@Model != null)
        {
            <input hidden asp-for="@Model.Id" />
        }

        <div class="divLeft">
            <label>Клиент:</label>
            <select id="selectClient" required asp-items="ViewBag.ClientsList" asp-for="@Model.DeviceId">
                <option value="">-Выберите клиента-</option>
            </select> <br />

            <label asp-for="@Model.DeviceId"></label>
            <select id="selectDevice" required asp-for="@Model.DeviceId" asp-items="ViewBag.DevicesList"></select> <br />

            <label asp-for="@Model.StaffId"></label>
            <select asp-for="@Model.StaffId" required asp-items="ViewBag.StaffList">
                <option value="">-Выберите сотрудника-</option>
            </select> <br />

            <label asp-for="@Model.Date_of_admission"></label>
            <input placeholder="Выберите дату" required type="date" asp-for="@Model.Date_of_admission" />
            <span asp-validation-for="@Model.Date_of_admission"></span> <br />

            <label asp-for="@Model.End_date"></label>
            <input placeholder="Выберите дату" required type="date" asp-for="@Model.End_date" />
            <span asp-validation-for="@Model.End_date"></span> <br />

            <label asp-for="@Model.Cost"></label>
            <input placeholder="Введите цену" required step="0.01" type="number" asp-for="@Model.Cost" asp-format="{0:0.##}" />
            <span asp-validation-for="@Model.Cost"></span>
        </div> <br />

        <label asp-for="@Model.Description_of_problem"></label> <br />
        <textarea placeholder="Введите описание проблемы" onchange="removeExtraSpaces(this)" style="height: 2em" required asp-for="@Model.Description_of_problem"></textarea> <br />
        <span asp-validation-for="@Model.Description_of_problem"></span> <br />

        <label asp-for="@Model.Descriprion_of_work_done"></label> <br />
        <textarea placeholder="Введите описание проделанной работы" onchange="removeExtraSpaces(this)" style="height: 2em" required asp-for="@Model.Descriprion_of_work_done"></textarea> <br />
        <span asp-validation-for="@Model.Descriprion_of_work_done"></span> <br />

        <br />

        <button class="green">Сохранить</button>
    </form>
</div>

@* <div asp-validation-summary="All" class="text-danger"></div> *@ @* Просмотр ошибок *@